body {
  background-color: #e0e0e0;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}

/* Loader */
.centered {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  background-color: #fff;
  transform: translate(-50%, -50%);
  filter: blur(10px) contrast(20);
}

.blob-1,
.blob-2 {
  width: 25px;
  height: 25px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blob-1 {
  left: 20%;
  animation: osc-l 2.5s ease infinite;
}

.blob-2 {
  left: 80%;
  animation: osc-r 2.5s ease infinite;
  background:black;
}

@keyframes osc-l {
  0% {
    left: 20%;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 20%;
  }
}

@keyframes osc-r {
  0% {
    left: 80%;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 80%;
  }
}

/* loader 2 */
.container1 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  z-index: -1;
}

.flex {
  min-height: 60pt;
}

@keyframes loading {
  0% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }

  25% {
    height: 4pt;
    margin-top: 23pt;
  }

  50% {
    width: 4pt;
  }

  75% {
    width: 50pt;
  }

  100% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
}

.loader {
  width: 50pt;
  height: 50pt;
  border-radius: 100%;
  border: #6767fa 4pt solid;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  animation: loading 1s infinite;
}

.load-text {
  padding-top: 15px;
  text-align: center;
  font: 14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: lighten(#6767fa, 75%);
}
.row {
  margin: auto;
}
.container > nav > ul {
  display: flex;
}

.card {
  margin: 5%;
}
.container > nav > ul > li {
  list-style: none;
  padding: 10px;
  color: #5a5353;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 0.3s;
}
.main {
  width: 70%;
  height: 300px;
  background-color: #f1efef;
  border-radius: 15px;
  margin: 5% auto;
  box-shadow: 0 30px 30px -30px rgb(114, 113, 113);
  display: flex;
  justify-content: center;
}
.description {
  color: rgb(64, 109, 64);
  font-size: 18px;
}
.description,
.temp {
  text-align: center;
  font-family: sans-serif;
}
.temp{
  padding: 4px;
  color: steelblue;
  font-weight: bold;
  border-radius: 7px;
  width: 80px;
  margin: auto;
  font-size: 18px;
  font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}

.newsClass {
  background-color: blue;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.weather_desc {
  text-align: center;
  padding-top: 10px;
  font-family: sans-serif;
  letter-spacing: 0.2rem;
}
.Time {
  padding-top: 2rem;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}
.inputerror {
  padding-top: 10px;
  text-align: center;
  color: red;
  font-family: sans-serif;
}

.bodycard {
  width: 18rem;
  margin:5% auto;
}
.search > form {
  display: flex;
  background-color: #f1efef;
  justify-content: center;
  width: 285px;
  height: 53.5px;
  margin: auto;
  border-radius: 13px;
}
.search > form > label > input {
  text-align: center;
  height: 40px;
  outline: none;
  margin: 6.5px auto;
  border: none;
  width: 225px;
  color: grey;
  border-radius: 10px 0px 0px 10px;
  box-shadow: inset 0 20px 20px -20px #7a7575;
}
.search > form > label > button {
  width: 35px;
  height: 43px;
  border-radius: 0px 10px 10px 0px;
  outline: none;
  text-align: center;
  font-family: sans-serif;
  border: none;
  color: white;
  background-color: rgba(94, 151, 94, 0.63);
  margin-left: 10px;
  transition: all ease 0.3s;
}

.search>form>label>button:hover {
  background-color: powderblue;
}
.newsMakingRounds {
  font-family: sans-serif;
  text-align: center;
  color: #ffff;
  background-color: #ff3434;
  width: 20%;
  padding: 10px;
  margin: auto;
  border-radius: 6px;
  
}
.version {
  text-align: center;
  font-family: sans-serif;
}

/* Loader2 */
.container {
  width: 450px;
  margin: 40px auto;
  overflow: hidden;
}

.loader_back {
  width: 66px;
  height: 66px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background: #eee;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  float: left;
  margin: 10px;
}

.loader {
  width: 50px;
  height: 50px;
  border-right: 8px solid #4D4D4D;
  border-bottom: 8px solid #4D4D4D;

  margin: auto;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-animation: rotate 2s infinite linear;
  -moz-animation: rotate 2s infinite linear;
  -ms-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear;
}

/* .loader.yellow #ccc366 */

.loader.blue {
  border-left: 8px solid #71C3EE;
  border-top: 8px solid #71C3EE;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-ms-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}